.container {
  width: 100vw;
  background-color: #fafafa;

  > div {
    margin: 0 auto;
    max-width: 1170px;
    padding: 50px 20px 100px;

    @media #{$small-and-down} {
      padding: 20px 10px;
    }
  }

  .title {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
    padding: 40px 0;
    color: #000;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      padding-top: 20px;

      &:first-child {
        padding-top: 0;
      }

      a {
        color: #777;

        &:hover {
          text-decoration: underline;
        }
        &:focus{
          background-color: $accessibility;
        }
      }
    }
  }

  .socialMediaLinks {
    display: flex;
    justify-content: space-between;
    max-width: 300px;

    a {
      font-size: 20px;
      &:focus{
        background-color: $accessibility;
      }
    }
  }

  .newsletterEmailContainer {
    display: flex;

    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    button {
      padding: 10px 20px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      font-size: 16px;
    }
  }
}
.skip{
  @media (min-width: $small-screen) {
    margin-top: -130px;
    float: left;
  }
}
