<div class="parallax_container">

    <div class="parallax__layer parallax__layer--back">
      <%= image_tag "mainbg.jpg", :class => "parallax-image" %>
    </div>
    <div class="parallax__layer parallax__layer--back semi-layer">s
    </div>
    <div class="parallax__layer parallax__layer--base about_slogan pullUp">
      BUILDING BETTER CITIES WITH PEOPLE
    </div>
    <div class="parallax__layer parallax__layer--base about_subtitle pullUp">
      Milieu is a platform for people to stay informed, discuss and submit ideas about urban planning and development projects in the city
    </div>
    <div class="parallax__layer parrallax__layer--base about_container">
      <div class="about_section">
        <div class="app_demo stretchLeft">
          <iframe src="https://player.vimeo.com/video/161182045" align="right" width="366" height="650" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class="crew_list stretchRight">
            <h3 class="header">TEAM</h3>
            <ul>
              <li class="name">LUISA JI</li>
              <li class="position">COFOUNDER & PRODUCT DESIGNER</li>
              <li class="name">LEE-MICHAEL PRONKO</li>
              <li class="position">COFOUNDER & HEAD OF STRATEGY</li>
              <li class="name">ASH DARJI</li>
              <li class="position">PRODUCT LINE OFFICER</li>
              <li class="name">VICTORIA HO</li>
              <li class="position">CITIZEN ENGAGEMENT COORDINATOR TORONTO</li>
              <li class="name">MONIQUE ST-PIERRE</li>
              <li class="position">DESIGNER & CITIZEN ENGAGEMENT SPECIALIST</li>
              <li class="name">XIAOXI PANG</li>
              <li class="position">SOFTWARE DEVELOPER</li>
              <li class="name">UZAYR ABDULLAH</li>
              <li class="position">GEOGRAPHIC INFORMATION SYSTEMS</li>
              <li class="name">Dani Antoinette</li>
              <li class="position">COMMUNICATIONS</li>
            </ul>
        </div>
      </div>
    </div>

</div>

<script>
  $(window).scroll(function() {
    $('.about_section').each(function(){
    var imagePos = $(this).offset().top;

    var topOfWindow = $(window).scrollTop();
      if (imagePos < topOfWindow+100) {
        $('.app_demo').addClass("stretchLeft");
      }
    });

    $('.about_section').each(function(){
    var imagePos = $(this).offset().top;

    var topOfWindow = $(window).scrollTop();
      if (imagePos < topOfWindow+100) {
        $('.crew_list').addClass("stretchRight");
      }
    });
  });
</script>
