<div class="parallax_container">

    <div class="parallax__layer parallax__layer--back">
      <%= image_tag "mainbg.jpg", :class => "parallax-image" %>
    </div>
    <div class="parallax__layer parrallax__layer--base about_container">
      <div class="about_section">
    <h2 class="header">Parallax</h2>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the backgrouncontent or image in this case, is moved at a different speed than the foreground contenwhile scrolling.</p>
      </div>
    </div>

</div>
