<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">MILIEU.IO</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="#">MILIEU | OTTAWA</a>
                <a class="nav-link" href="#">NEIGHBOURHOODS</a>
                <a class="nav-link" href="#">EVENTS</a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">MILIEU</h1>
            <p class="slogan">building better cities together</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-info">Ottawa</a>
              <!-- <a href="#" class="btn btn-lg btn-info disabled">Toronto</a> -->
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <h2>What is Milieu?</h2>
              <p>
                Milieu is a platform for people to stay informed and share their views on urban
                 planning and development projects in their neighbourhood.
              </p>
            </div>
          </div>

        </div>

      </div>

    </div>
