
<nav class="blue light-blue-3">
  <ul class="right hide-on-med-and-down">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <ul id="slide-out" class="side-nav">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
</nav>

<!-- Request Demo Button -->
<!-- <div class="morph-button morph-button-inflow morph-button-inflow-1">
  <button type="button" class="btn-info"><span>Request a demo</span></button>
  <div class="morph-content">
    <div>
      <div class="content-style-form content-style-form-4">
        <span class="icon icon-close">Close the dialog</span>
        <h2 class="morph-clone">Request a demo</h2>
        <form>
          <p><label>Your Email Address</label><input type="text" id="email"/><span>We promise, we won't send you any spam. Just love.</span></p>
          <p><button id="subscribe" class="subscribe">Subscribe me</button></p>
        </form>
      </div>
    </div>
  </div>
</div> -->



<section class="full-bg-img">

</section>






<script type="text/javascript">
  // Initialize collapse button
  $(".button-collapse").sideNav({
      menuWidth: 300, // Default is 240
      edge: 'left', // Choose the horizontal origin
      closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
    });
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  //$('.collapsible').collapsible();


  $('.modal-trigger').leanModal({
      dismissible: true, // Modal can be dismissed by clicking outside of the modal
      opacity: .5, // Opacity of modal background
      in_duration: 300, // Transition in duration
      out_duration: 200, // Transition out duration
      ready: function() { alert('Ready'); }, // Callback for Modal open
      complete: function() { alert('Closed'); } // Callback for Modal close
    });


</script>
<script type="text/javascript">
  var subscribeButton = function() {

    new UIMorphingButton( document.querySelector( '.morph-button' ) );

    [].slice.call( document.querySelectorAll( '.morph-button' ) ).forEach( function( bttn ) {
      new UIMorphingButton( bttn, {
        closeEl: '.icon-close',
        closeEl: '.subscribe'
      } );
    } );

    function checkEmail() {

      var email = document.getElementById('email');
      var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

      if (!filter.test(email.value)) {
        alert('Please provide a valid email address');
        email.focus;
        return false;
      } else {
        return true;
      }
    };

    [].slice.call( document.querySelectorAll( 'form button' ) ).forEach( function( bttn ) {
      bttn.addEventListener( 'click', function( ev ) { ev.preventDefault();
        if (checkEmail()) {
          var emailText = $('#email').val();

          $.getJSON('/demo?email='+emailText, function(success) {
            // Do something on successful email sent
            alert('Thank you. We will get in touch shortly.');
          }).fail(function(error) {
            // Do something on error
            alert('This email already exists, try another email address');
          });
        }
      } );
    } );
  }

  // Init
  subscribeButton();
</script>
