<div class="inner cover">
  <h1 class="cover-heading">MILIEU</h1>
  <p class="slogan">building better cities together</p>
  <!-- <p class="lead"> -->
    <!-- <a href="#" id='contact-form' class="btn btn-lg btn-info">Ottawa</a> -->
    <!-- <a href="#" class="btn btn-lg btn-info disabled">Toronto</a> -->
  <!-- </p> -->
  <p class="lead">
    <!-- Request Demo Button -->
    <div class="morph-button morph-button-inflow morph-button-inflow-1">
      <button type="button" class="btn-info"><span>Request a demo</span></button>
      <div class="morph-content">
        <div>
          <div class="content-style-form content-style-form-4">
            <span class="icon icon-close">Close the dialog</span>
            <h2 class="morph-clone">Request a demo</h2>
            <form>
              <p><label>Your Email Address</label><input type="text" id="email"/><span>We promise, we won't send you any spam. Just love.</span></p>
              <p><button id="subscribe" class="subscribe">Subscribe me</button></p>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- [Request Demo Button] -->
  </p>
</div>

<div class="mastfoot">
  <div class="inner">
    <h2>What is Milieu?</h2>
    <p>
      Milieu is a platform for people to stay informed and share their views on urban
       planning and development projects in their neighbourhood.
    </p>
  </div>
</div>
