<div class="inner cover">
  <h1 class="cover-heading">MILIEU</h1>
  <p class="slogan">building better cities together</p>
  <p class="lead">
    <a href="/ottawamap" class="btn btn-lg btn-info">Ottawa</a>
    <!-- <a href="#" class="btn btn-lg btn-info disabled">Toronto</a> -->
  </p>
  <p class="lead">

  </p>
</div>

<div class="mastfoot">
  <div class="inner">
    <h2>What is Milieu?</h2>
    <p>
      Milieu is a platform for people to stay informed and share their views on urban
       planning and development projects in their neighbourhood.
    </p>
  </div>
</div>
