.container {
 background-color: #f7f7f7;
 padding: 30px 50px;

 @media #{$small-and-down} {
   padding: 20px;
 }
}

@mixin primary-emphasis {
  color: #477393;
  font-weight: 600;
}

@mixin secondary-emphasis {
  color: #477393;
  font-weight: 400;
}

.commentForm {
  margin: 10px 0;

  .wrapper{
    position: relative;
    height: 150px;
  }

  .textarea{
    border: 1px solid $light-gray;
    padding: 20px;
    background-color: $white;
    border-radius: 3px;
    height: 150px;
  }

  .submitBtn {
    margin-top: 20px;
  }

  .privacy {
    input + label, label {
      font-size: 18px;
    }

    p {
      font-size: 14px;
      color: #477393;
    }
  }
}

.commentCount {
  display: flex;
  justify-content: flex-end;
  font-style: italic;
}

.nouser{
  display: flex;
  justify-content: center;
}

.comment{
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.4;

  .replyTo {
    @include secondary-emphasis;
    margin-right: 8px;
  }

  p {
    margin: 2px 0;
  }

  &:last-child{
    border: none;
    padding: none;
  }

  .info {
    padding: 10px 0;

    .name {
      @include primary-emphasis;
      padding-right: 20px;
    }

    .date {
      color: $gray;
    }
  }

  .commentActions {
    a, span {
      @include secondary-emphasis;
      font-size: 16px;
      margin: 4px 0;
      margin-right: 18px;
    }

    a {
      text-decoration: underline;
    }
  }

  .wholebody {
    color: $black;
  }

  .body {
    color: #477393;
    max-height: 150px;
    overflow-y: hidden;
  }
}

.commentsList {
  margin-top: 20px;

  .commentsList {
    margin-left: 40px;

    .commentsList {
      margin-left: 0;
    }
  }
}

.loadmore {
  padding: 10px;
  border-radius: 2px;
  text-align: center;
  width: 200px;
  display: block;
  margin: 20px auto;
  background: #789;
  color: #fff;
  opacity: 0.85;
  transition: 200ms;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &:focus {
    border: 3px solid $accessibility;
  }
}

.votesContainer {
  &:focus{
    background-color: $accessibility;
  }
}

.user_actions {
  float: right;
  a {
    padding: 4px;
  }
}

