.container {
 background-color: #f7f7f7;
 padding: 30px 50px;

 @media #{$small-and-down} {
   padding: 20px;
 }
}

.nouser{
  display: flex;
  justify-content: center;
}

.number{
  padding: 20px;
  font-style: italic;
  text-align: right;
}

.wrapper{
  position: relative;
  height: 150px;
}

.textarea{
  border: 1px solid $light-gray;
  padding: 20px;
  background-color: $white;
  border-radius: 3px;
  height: 150px;
}

.submit{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #ddd;
  padding: 7px 15px;
  border: none;
  border-radius: 3px;

  &:focus {
    background-color: $accessibility;
  }
}

.info {
  padding: 10px 0;
}

.comment{
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 15px;

  &:last-child{
    border: none;
    padding: none;
  }
}

.name {
  font-size: 18px;
  font-weight: 500;
  padding-right: 20px;
  color: #555;
}

.date {
  color: #777;
}

.wholebody {
  color: #777;
}

.body {
  color: #777;
  max-height: 150px;
  overflow-y: hidden;
}

.readmore {
  color: #333;
  font-size: 14px;
}

.loadmore {
  padding: 10px;
  border-radius: 2px;
  text-align: center;
  width: 200px;
  display: block;
  margin: 20px auto;
  background: #789;
  color: #fff;
  opacity: 0.85;
  transition: 200ms;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &:focus {
    border: 3px solid $accessibility;
  }
}

.votesContainer {
  &:focus{
    background-color: $accessibility;
  }
}

.user_actions {
  float: right;
  a {
    padding: 4px;
  }
}
