.map{
  height: 200px;
  margin-bottom: 30px;
}
.icons{
  inline: block;
  float: left;
}
.question{
  margin-top: 30px;
  margin-bottom: 30px;
  margin: 0 auto;
}
.forms{
  margin-top: 30px;
  margin-bottom: 30px;
  height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.description{
  padding-top: 20px;
  text-align: left;
}
.notes{
  margin-top: 20px;
  margin-bottom: 20px;
}
.comments{
  margin-top: 30px;
  margin-bottom: 30px;
}
