section#map{
  position: relative;

  .legend{
    position: fixed;
    z-index: 10;
    top: 84px;
    left: 20px;
    padding: 80px 5px 5px;
    width: 280px;
    background-color: rgba(255, 255, 255, 1);

    .title{
      font-size: 1.25rem;
      text-align: center;
      padding-left: 20px;
      padding-bottom: 10px;

      small{
        font-size: 0.9rem;
        color: #777;
      }
    }

    .item{
      padding: 10px;
      min-height: 50px;
      color: #777;
      cursor: pointer;
      transition: 200ms;

      &.selected{
        background-color: $secondary-color;
        color: #fff;
      }

      .icon{
        height: 50px;
        width: 50px;
      }

      .text{
        display: inline-block;
        width: calc(100% - 65px);
        padding-left: 10px;
        vertical-align: top;
      }
    }
  }

  #dev-site-profile{
    width: 300px;
    min-height: calc(100vh - 64px);
    display: inline-block;
    float: right;

    .dev-site{
      // min-height: calc(100vh - 64px);
      padding: 64px 20px 10px;
    }

    .display-image{
      width: 100%;
      height: 200px;
      border-radius: 3px;
      object-fit: cover;
    }

    .info{
      font-size: 13px;

      .col{
        padding: 0;
      }

      a{
        text-decoration: underline;
        color: $secondary-color;
      }
    }

    .title{
      padding: 20px 0;
      font-size: 20px;
    }

    .cat-label{
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 16px;
      padding: 5px 0;
    }

    .label{
      color: #999;
    }

    a.btn{
      width: 100%;
    }

  }

  #main-map{
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    height: 100vh;
    width: calc(100vw - 300px);

    .marker-title{
      font-weight: 700;

      &:hover{
        text-decoration: underline;
      }
    }
  }

  #geocoder-container {
    position: fixed;
    z-index: 15;
    top: 100px;
    left: 40px;
    max-width: 400px;
    width: 200px;

    .mapboxgl-ctrl-geocoder, .mapboxgl-ctrl-geocoder ul{
      box-shadow: 0 0 0 2px rgba(0,0,0,0.4);
    }
  }

  #geocoder-container > div {
    width: 100%;

    input{
      box-sizing: border-box;
    }
  }

}