S3_KEY=configure_your_s3_key
S3_SECRET=configure_your_s3_secret
S3_REGION=configure_your_s3_key
S3_BUCKET_NAME=configure_your_s3_bucket_name
GEOCODER=configure_your_geocoder
PORT=3000
SECRET_KEY_BASE=configure_your_secret_key_base
FACEBOOK_GRAPH_URL=https://graph.facebook.com/v2.8/me
FACEBOOK_ID=configure_your_facebook_id
FACEBOOK_SECRET=configure_your_facebook_secret
GOOGLE_ID=configure_your_google_id
GOOGLE_SECRET=configure_your_google_secret
NODE_ENV=development
WATSON_ALCHEMY_KEY=configure_your_watson_alchemy_key
