.cookiesNotification {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px 20px;
  background-color: #486A89;
  color: white;
  z-index: 10000;

  p {
    margin: 0;
  }

  .notificationText {
    line-height: 1.5;
    text-align: center;

    a {
      color: white;

      &:first-child {
        text-decoration: underline;
      }

      &:hover, &:visited {
        color: white;
      }
    }
  }

  .okButton {
    background-color: #5d9bc0;
    padding: 4px 14px;
    margin-left: 20px;
  }
}
