<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi, *|name|*

      There's a new development site in *|address|*!


      <strong><a href="*|dev_site_url|*">Check it out at Milieu</a></strong>
    <p>
    <p>Enjoy!
      Best,<br/>
      Milieu Team
    </p>
  </body>
</html>
