<h5>Comment</h5>
<div class="alert alert-success" style="overflow-y: scroll; max-height: 80px;">
  <% commentable.comments.each do |comment| %>
    <div class="well ">
        <%= comment.body %>
    </div>
  <% end %>
</div>
