<div id="comments-index">
  <table class="striped">
  <thead>
    <tr>
      <th>Address</th>
      <th>Comments</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
    <tr>
      <td><b><%= DevSite.find(comment.dev_site_id).addresses.first.street %></b></td>
      <td width="80%"><%= comment.body %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
