<div class="nav-link dropdown open">
  <button class="btn dropdown-toggle" id="neighbourhoods" type="button"
  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
  aria-expanded="false">
    Neighbourhoods
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Another action</button>
    <button class="dropdown-item" type="button">Something else here</button>
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Action</button>
  </div>
</div>
