<div class="nested-fields row">

  <div class="input-field col s12">
    <%= f.text_field :street %>
    <%= f.label :street, "Street" %>
  </div>

  <%= link_to_remove_association 'Remove address...', f %>
</div>
