<div id="dev-site-map"
     data-user-longitude="<%= session['geo_location'] && session['geo_location']['lon'] %>"
     data-user-latitude="<%= session['geo_location'] && session['geo_location']['lat'] %>">
</div>
