.container {
  height: 50px;
  width: 100vw;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  padding: 0 20px;
  box-shadow: 0 1px 5px #aaa;
  box-sizing: border-box;
  z-index: 10000;

  .fullPage {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile {
    display: flex;
    align-items: center;
    height: 50px;

    .closeMenu {
      position: fixed;
      z-index: 1002;
      top: 20px;
      right: 20px;
    }

    .mobileMenu {
      position: fixed;
      z-index: 1001;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      background: linear-gradient(45deg, $primary-color, $secondary-color);
      display: flex !important;
      flex-direction: column;
      align-items: center;
      color: $white;

      .mobileLocale {
        display: flex;
        align-items: center;
        padding-top: 10px;
      }

      a {
        padding: 10px;
        width: 100%;
        display: block;
        box-sizing: border-box;
        color: $white;
        font-size: 20px;
        text-align: center;
      }

      img {
        filter: brightness(10);
        margin: 20px;
        height: 40px;
        width: 40px;
      }
    }
  }

  .logo {
    img {
      height: 25px;
      width: 25px;
      object-fit: contain;
    }
  }

  .linksAndLocale {
    display: flex;

    .links {
      a {
        padding: 0 20px;
        height: 50px;
        line-height: 50px;
        font-size: 15px;
        display: inline-flex;
        cursor: pointer;
        align-items: center;
        vertical-align: middle;

        &:hover {
          text-decoration: underline;
        }
      }

      .profileImage {
        height: 40px;
        width: 40px;
        object-fit: cover;
        border-radius: 20px;
      }
    }

    .locale {
      border-left: 1px solid #555;
      height: 50px;
      padding-left: 20px;

      a {
        height: 50px;
        line-height: 50px;
        font-size: 15px;
        cursor: pointer;
      }
    }
  }

  + *{
    margin-top: 50px;
  }
}
