<div id="users">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Signed up</th>
          <th>Receive Newsletter</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.profile.name  %></td>
          <td><%= user.email %></td>
          <td><%= user.created_at %></td>
          <td><%= user.profile.try(:receive_newletter) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
