<div id="users">
    <table class="striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Signed up</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.first_name || '-'  %></td>
          <td><%= user.last_name || '-' %></td>
          <td><%= user.email %></td>
          <td><%= user.created_at %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
