<div class="container">
  <div class="row">
    <div class="col s12 m4 l2"><br></div>
    <div class="col s12 m4 l8">
      <h3>Sign Up</h3>
      <%= render 'form' %>
    </div>
    <div class="col s12 m4 l2"><br></div>
  </div>
</div>

