<p>A comment has been flagged as offensive in Dev Site <%= @dev_site.devID %></p>
<br>
<p>Comment body:</p>
<p><%= @comment.body %></p>
<br>
<p>The comment is not currently published. You can choose to publish the comment here: </p>
<br>
<p>Keep up the good work!</p>