.btn {
    box-shadow: 1px 1px 2px 0px $primary-color;
    background-color: $light-primary-color;
    border-radius: 2px;
    text-indent: 0;
    border: 1px solid $light-primary-color;
    display:inline-block;
    color: $primary-color;
    font-size: 15px;
    font-weight: bold;
    font-family: $primary-font;
    font-style: normal;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    padding: 0 1.4em;
    margin-right: 0.4em;

  &:hover {
    color: #5d9bc0;
  }

  &:active {
    position:relative;
    top:1px;
  }

  &.transparent {
    background-color: transparent;

  }

  &.icon {
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;
  }

  &.small {
    padding: 3px 10px;
  }

  &.block {
    display: block;
    text-align: center;
  }

  &.submit {
    background-color: $primary-color;
    border-color: $dark-primary-color;
    box-shadow: none;
    color: $white;

    &:hover{
      color: $white;
      background-color: $dark-primary-color;
    }
  }

  &.cancel {
    background-color: $white;
    color: $dark-primary-color;
    border-color: $dark-primary-color;
    box-shadow: none;
    font-weight: normal;

    &:hover{
      background-color: $pale-gray;
      color: $dark-primary-color;
    }
  }

  &.right {
    float: right;
  }

  &:hover {
    opacity: 0.8;
    color: $secondary-color;
  }
}
