.btn {
    box-shadow: 1px 1px 2px 0px #3a7496;
    background-color:#e5eee9;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    border-bottom-right-radius:2px;
    border-bottom-left-radius:2px;
    text-indent:0;
    border:1px solid #e5eee9;
    display:inline-block;
    color:#477393;
    font-size:15px;
    font-weight:bold;
    font-family: 'Avenir Next','Lato',sans-serif;
    font-style:normal;
    height:35px;
    line-height:35px;
    width:250px;
    text-decoration:none;
    text-align:center;
    margin: 0.75rem 0;

  &:active {
    position:relative;
    top:1px;
  }

  &.transparent {
    background-color: transparent;
  }

  &.icon {
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;
  }

  &.small {
    padding: 3px 10px;
  }

  &.block {
    display: block;
    text-align: center;
  }

  &.cancel {
    background-color: #e5eee9;

    &:hover{
      background-color: #5d9bc0;

    }
  }

  &.right {
    float: right;
  }

  &:hover {
    opacity: 0.8;
    color: #5d9bc0;
  }
}
