$light-primary-color: #d5fffe;
$primary-color: #92c7c6;
$dark-primary-color: #6D9493;

$secondary-color: #5d9bc0;
$dark-secondary-color: #3a7496;

$tertiary-color: #486a89;
$light-tertiary-color: #b0c4de;

$quaternary-color: #e2eae9;

$accessibility: #e77e23;

$light-gray: #eee;
$pale-gray: #fafafa;
$gray: #aaa;
$dark-gray: #555;

$success: #5f9ea0;
$light-error: #e9967a;
$error: #c7817d;

$black: #333;
$white: #fff;
