body{
  background-color: #fafafa;
  font-family: "Lato";
}

.signup-link{
  text-align: center;
  display: block;
  color: $secondary-color;
}

:focus{
  outline: none;
}

// Overwriting materialize
.dropdown-content{
  max-height: 300px;

  li{
    line-height: 50px;
  }
}

// Overwriting materialize
.dropdown-content li > a, .dropdown-content li > span{
  color: #333;
}

.no-pad{
  padding: 0 !important;
}

.no-marg{
  margin: 0 !important;
}

.clear{
  clear: both;
  display: table;
  content: "";
}

.small-container{
  min-height: 100vh;
  padding-top: 64px;
  background-color: #fafafa;

  h1, h3{
    margin: 0;
    padding: 2rem 0;
  }
}
