#sign-in-modal{
  max-width: 350px;
  background-color: $pale-gray;

  .or {
    font-weight: 700;
    padding: 20px 0;
    text-align: center;
  }

  .omni {
    padding: 10px;
    display: block;
    cursor: pointer;
    color: $white;
    margin-bottom: 10px;
    border-radius: 3px;

    i {
      padding-right: 20px
    }

    &.fb {
      background-color: #3B5998;
    }

    &.google {
      background-color: #DD4B39;
    }
  }
}

.login-form {
  margin: 0 auto;
  padding-bottom: 20px;

  input:-webkit-autofill {
    background-color: $white !important;
    -webkit-box-shadow:0 0 0 50px $white inset;
    -webkit-text-fill-color: #000;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }

  .btn{
    width: 100%;
  }
}

nav{
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;

  .logo{
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 20px;
    color: #333;

    img{
      height: 25px;
    }
  }

  .links{

    a{
      height: 50px;
      line-height: 50px;
      font-size: 14px;
      color: #333;
      letter-spacing: 0.75px;
      padding: 0 20px;
    }
  }

}
