a{
  color: $black;
  text-decoration: none;
  transition: 250ms;
  cursor: pointer;
  &:focus{
      background-color: rgba(230, 126, 34,0.599);
    }


  &.btn {
    color: $white !important;
  }

  &:visited {
    color: $black;
  }

  &:hover {
    opacity: 0.8;
  }
}
