a{
  color: $primary-color;
  text-decoration: none;
  transition: opacity 250ms;
  cursor: pointer;
  background-color: inherit;

  &.btn {
    color: $primary-color !important;
  }

  &:visited {
    color: $primary-color;
  }
}
