.mapboxgl-ctrl-compass {
  display: none !important;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-in:focus{
  background-color: #fff;

  &:focus {
    border: 1px solid $accessibility;
  }
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out:focus{
  background-color: #fff;

  &:focus {
    border: 1px solid $accessibility;
  }
}
