.mapboxgl-ctrl-compass {
  display: none !important;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-in:focus{
  background-color: #fff;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out:focus{
  background-color: #fff;
}
