.root {
  background-color: $white;
  min-height: calc(100vh - 50px);

  .container {
    @media #{$large-and-up} {
      padding: 20px 0;
    }

    @media #{$medium-and-down} {
      padding: 20px;
    }
  }

  h1 {
    padding: 0 0.75rem;
  }

  h3 {
    margin: 0.25rem 0;
    font-weight: bold;
  }

  h3.status {
    color: #5790b4;
    padding: 0 0.75rem;
  }

  h3.description {
    color: #5790b4;
  }

  h3.timelinehead {
    color: #5790b4;
  }

  .image {
    height: 200px;
    width: 50%;
    max-height: 40vh;
    border-radius: 3px;
    object-fit: cover;
    float: right;
  }

  .button {
    -moz-box-shadow: 1px 1px 2px 0px #3a7496;
    -webkit-box-shadow: 1px 1px 2px 0px #3a7496;
    box-shadow: 1px 1px 2px 0px #3a7496;
    background-color:#e5eee9;
    -webkit-border-top-left-radius:2px;
    -moz-border-radius-topleft:2px;
    border-top-left-radius:2px;
    -webkit-border-top-right-radius:2px;
    -moz-border-radius-topright:2px;
    border-top-right-radius:2px;
    -webkit-border-bottom-right-radius:2px;
    -moz-border-radius-bottomright:2px;
    border-bottom-right-radius:2px;
    -webkit-border-bottom-left-radius:2px;
    -moz-border-radius-bottomleft:2px;
    border-bottom-left-radius:2px;
    text-indent:0;
    border:1px solid #e5eee9;
    display:inline-block;
    color:#5790b4;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:35px;
    line-height:35px;
    width:250px;
    text-decoration:none;
    text-align:center;
    margin: 0.75rem 0;
  }
  .button:hover {
    color: #5d9bc0;
  }
  .button:active {
    position:relative;
    top:1px;
  }

  .share {
    display: flex;
    padding-top: 15px;

    > div {
      margin-right: 10px;
    }
  }

  .filelink {
    display: inline-block;
    padding-bottom: 5px;
    word-break: break-word;

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }


  .tabs {
    padding: 20px 0;
  }

  .emailofficials {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;

    @media #{$small-and-down} {
      padding-bottom: 30px;
      flex-direction: column;
    }

    .email{
      background-color: $primary-color;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 10px;
      border-radius: 25px;
      width: 45%;

      @media #{$medium-and-down} {
        font-size: 14px;
      }

      @media #{$small-and-down} {
        width: 100%;
        margin-bottom: 10px;
        justify-content: flex-start;
      }
    }

    .mail{
      background: url('./icons/mail.svg') center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 30px;
      width: 30px;
      margin-right: 20px;
      display: inline-block;
      @media #{$small-and-down} {
        height: 20px;
        width: 20px;
        min-height: 20px;
        min-width: 20px;
        margin-right: 10px;
      }
    }
  }

  .emailmodal {
    padding: 35px 35px 0;
    color: #555;

    @media #{$small-and-down} {
      padding: 20px 20px 0;
    }

    form{
      padding: 20px 0;
    }

    .contact {
      font-size: 24px;
      font-weight: 700;
    }

    .address {
      font-size: 18px;
    }
  }
}