.container{
  width: 100vw;
  height: 100vh;
  position: relative;
}

.sidebar {
  width: 50%;
  height: 100vh;
  background-color: #fff;
  overflow-y: scroll;
  float: left;

  @media #{$medium-and-down} {
    width: 100%;
  }
}

.content {
  width: 50%;
  height: 100vh;
  overflow-y: scroll;
  float: left;
  position: relative;

  @media #{$medium-and-down} {
    height: auto;
    width: 100%;
    float: none;
  }
}
