<div class="parallax_container">

    <div class="parallax__layer parallax__layer--back">
      <%= image_tag "mainbg.jpg", :class => "parallax-image" %>
    </div>
    <div class="parallax__layer parallax__layer--back semi-layer">s
    </div>
    <div class="parallax__layer parallax__layer--base about_subtitle pullUp">
      Milieu is a platform for people to stay informed, discuss and submit ideas about urban planning and development projects in the city
    </div>
    <div class="parallax__layer parrallax__layer--base about_container">
      <div class="about_section">
        <div class="app_demo stretchLeft">
          <iframe src="https://player.vimeo.com/video/161182045" align="right" width="366" height="650" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class="crew_list stretchRight">
            <h3 class="header">TEAM</h3>
            <ul>
              <li class="name">LUISA JI</li>
              <li class="position">COFOUNDER & PRODUCT DESIGNER</li>
              <li class="name">LEE-MICHAEL PRONKO</li>
              <li class="position">COFOUNDER & HEAD OF STRATEGY</li>
              <li class="name">ASHISH DARJI</li>
              <li class="position">CHIEF PRODUCT LINE OFFICER</li>
              <li class="name">VICTORIA HO</li>
              <li class="position">CITIZEN ENGAGEMENT COORDINATOR TORONTO</li>
              <li class="name">MONIQUE ST-PIERRE</li>
              <li class="position">DESIGNER & CITIZEN ENGAGEMENT SPECIALIST</li>
              <li class="name">XIAOXI PANG</li>
              <li class="position">SOFTWARE DEVELOPER</li>
              <li class="name">ROB BLADES</li>
              <li class="position">SOFTWARE DEVELOPER</li>
              <li class="name">UZAYR ABDULLAH</li>
              <li class="position">GEOGRAPHIC INFORMATION SYSTEMS</li>
              <li class="name">Danika Leminski</li>
              <li class="position">COMMUNICATIONS</li>
            </ul>
        </div>

      </div>

      <div class="row awards_section">
        <div class="col m12 l12 s12 awards">
          <h3>AWARDS</h3>
          <ul>
            <li>
              Winner of the <a href="https://conference.planning.org/conference/">American Planning Association Technology Division’s Innovating Planning Apps for Planners</a> (2016)
            </li>
            <li>
              Winners of the Planning for Job Creation category in the <a href="http://www.citiesoftomorrow.ca/">Cities of Tomorrow</a> competition hosted by Ontario’s big city mayors (2016)
            </li>
            <li>
              Ottawa Urban Design Award of Merit (2015)
            </li>
          </ul>
        </div>

      </div>
      <div class="row awards_images">
        <div class="col s12 m4 l4 award-img">
          <img src="https://s3-us-west-2.amazonaws.com/milieu/images/awards/award1.jpg" alt="award1">
        </div>
        <div class="col s12 m4 l4 award-img">
          <img src="https://s3-us-west-2.amazonaws.com/milieu/images/awards/award4.jpg" alt="award4">
        </div>
        <div class="col s12 m4 l4 award-img">
          <img src="https://s3-us-west-2.amazonaws.com/milieu/images/awards/award3.jpg" alt="award3">
        </div>
      </div>
    </div>

</div>

<script>
  $(window).scroll(function() {
    $('.about_section').each(function(){
    var imagePos = $(this).offset().top;

    var topOfWindow = $(window).scrollTop();
      if (imagePos < topOfWindow+100) {
        $('.app_demo').addClass("stretchLeft");
      }
    });

    $('.about_section').each(function(){
    var imagePos = $(this).offset().top;

    var topOfWindow = $(window).scrollTop();
      if (imagePos < topOfWindow+100) {
        $('.crew_list').addClass("stretchRight");
      }
    });
  });
</script>
