.container {
  .empty {
    padding: 20px;
    text-align: center;
    font-weight: 500;

    .inputSuggestion {
      padding-top: 10px;
      max-width: 400px;
      margin: 0 auto;
    }

    .inputContainer {
      display: flex;
      align-items: center;
      padding-top: 20px;

      input {
        border-color: #ccc;

        &:focus {
          border-color: $gray;
        }
      }

      a {
        margin-left: 10px;
        font-size: 14px;
      }
    }
  }

  .activeitem{
    padding: 10px;
    background-color: $quaternary-color;
    display: flex;

  }

  .item {
    padding: 10px;
    background-color: #fff;
    transition: 200ms;
    display: flex;

    &:hover, &:focus {
      background-color: $quaternary-color !important;
    }
  }

  .previewImage {
    height: 125px;
    width: 200px;
    object-fit: cover;
    margin-right: 15px;

    @media #{$small-and-down} {
      height: 100px;
      width: 100px;
      margin-right: 10px;
    }
  }

  .address {
    font-size: 22px;
    font-weight: 700;
    margin: 0;

    @media #{$small-and-down} {
      font-size: 18px;
      line-height: 1;
      padding-bottom: 10px;
    }
  }

  .info {
    color: #999;
    font-size: 14px;
  }

  .infoContainer {
    width: calc(100% - 225px);

    @media #{$small-and-down} {
      width: calc(100% - 110px);
    }
  }

  .description {
    font-weight: 500;
    color: #555;
    font-size: 16px;
    padding-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media #{$small-and-down} {
      padding-top: 5px;
    }
  }

  .pagination {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-style: italic;
    margin: 0 auto;
    height: 60px;
  }

  .disablerightarrow{
    background: url('./icons/right-arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 20px;
    display: block;
    cursor: pointer;
    opacity: 0.3;
  }

  .rightarrow {
    background: url('./icons/right-arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 20px;
    display: block;
    cursor: pointer;
  }

  .disableleftarrow {
    background: url('./icons/left-arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 20px;
    display: block;
    cursor: pointer;
    opacity: 0.3;
  }

  .leftarrow {
    background: url('./icons/left-arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 20px;
    display: block;
    cursor: pointer;
  }
}
