.container {
  .empty {
    padding: 20px;
    text-align: center;
    font-weight: 500;

    .inputSuggestion {
      padding-top: 10px;
      max-width: 400px;
      margin: 0 auto;
    }

    .inputContainer {
      display: flex;
      align-items: center;
      padding-top: 20px;

      input {
        border-color: #ccc;

        &:focus {
          border-color: $gray;
        }
      }

      a {
        margin-left: 10px;
        font-size: 14px;
      }
    }
  }

  .activeitem{
    padding: 15px 20px;
    padding-bottom: 0;
    display: block;
    background-color: $light-tertiary-color;
  }

  .item {
    padding: 15px 20px;
    padding-bottom: 0;
    background-color: #fff;
    display: block;
    transition: 200ms;

    &:hover, &:focus {
      background-color: $light-tertiary-color !important;
    }
  }

  .address {
    font-size: 22px;
    font-weight: 700;
    margin: 0;

    @media #{$small-and-down} {
      font-size: 18px;
      line-height: 1;
      padding-bottom: 10px;
    }
  }

  .info {
    color: #999;
    font-size: 14px;
  }

  .description {
    font-weight: 500;
    color: #555;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .pagination {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-style: italic;
    margin: 0 auto;
    height: 60px;
  }

  .disablerightarrow{
    background: url('./icons/right-arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 20px;
    display: block;
    cursor: pointer;
    opacity: 0.3;

    &:focus {
      border: 2px solid $accessibility;
    }
  }

  .rightarrow {
    background: url('./icons/right-arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 20px;
    display: block;
    cursor: pointer;

    &:focus {
      border: 2px solid $accessibility;
    }
  }

  .disableleftarrow {
    background: url('./icons/left-arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 20px;
    display: block;
    cursor: pointer;
    opacity: 0.3;

    &:focus {
      border: 2px solid $accessibility;
    }
  }

  .leftarrow {
    background: url('./icons/left-arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 20px;
    display: block;
    cursor: pointer;

    &:focus {
      border: 2px solid $accessibility;
    }
  }
}
