.container {
  background-color: #E7EEE9;
  padding: 20px 10px;
  input{
    &:focus{
      border-color: $gray;
    }
  }
}

.wrapper {
  padding: 0 0.75rem;
  box-sizing: border-box;
}

.divider {
  height: 1px;
  background-color: rgba(0,0,0,0.1);
  width: 80%;
  margin: 20px auto;
}
