.container {
  background-color: #f7f7ef;
  padding: 20px 10px;
  input{
    &:focus{
        background-color: rgba(230, 126, 34,0.599);
      }
  }
}

.wrapper {
  padding: 0 0.75rem;
  box-sizing: border-box;
}

.divider {
  height: 1px;
  background-color: rgba(0,0,0,0.1);
  width: 80%;
  margin: 20px auto;
}
