.landingContainer {
  min-height: 40vh;
  width: 100vw;
  padding: 2% 20% 5% 20%;
  box-sizing: border-box;
  position: relative;
  color: $black;

  .headlineLink {
    height: 70px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    padding-top: 20%;
    margin-bottom: 0px;
    padding: 0;
    color:$dark-secondary-color;

    @media #{$small-and-down} {
      font-size: 36px;
    }

    &:hover {
      text-decoration: none;
      border-bottom: 3px solid;
    }

    &:focus {
      background-color: $accessibility;
    }
  }

  > div {
    height: 130px;

    > h1 {
      height: 60px;
      font-size: 36px;
      font-weight: 300;
      float: left;
      margin-bottom: 0px;
      padding: 0;

      @media #{$small-and-down} {
        height: 50px;
        font-size: 24px;
      }
    }
    > h3 {
      padding-top: 0px;
    }

  }

  @media #{$medium-and-down} {
    padding: 40px;
  }

  @media #{$small-and-down} {
    padding: 20px;
  }

  a {
    color: $white;
    font-size: 16px;

    @media #{$small-and-down} {
      font-size: 16px;
    }
  }

  .signUpContainer {
    letter-spacing: 1px;
    font-size: 16px;

    @media #{$small-and-down} {
      font-size: 16px;
    }
  }

  .signUpButton {
    font-weight: 400;
    font-size: 16px;
    margin-top: 30px;
    margin-right: 40px;
    text-shadow: none;
    text-decoration: none;
    border-bottom: 1px solid;
    color: $dark-secondary-color;
    display: inline-block;

    @media #{$small-and-down} {
          font-size: 16px;

    }

    &:hover {
      opacity: 1;
      font-weight: 700;
      border-bottom: 2px solid;

    }

    &:focus {
      background-color: $accessibility;
    }
  }

}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  background-color: $dark-secondary-color;

  .title {
    color: $white;
    font-size: 36px;
    text-align: center;
    position: relative;
    font-weight: 400;
    margin: 0;

    @media #{$small-and-down} {
      font-size: 24px;
    }
  }

  .search {
    max-width: 500px;
    width: calc(100% - 20px);
    margin: 40px auto 0;
    position: relative;
    z-index: 2;

    i {
      color: $primary-color;
    }

    input {
      border-radius: 2px;
      background-color: $white;
      box-sizing: border-box;
      width: calc(100% - 110px);

      &:focus {
        box-shadow: 2px 2px 5px 0 $secondary-color;
      }
    }
  }
}

.guelphContainer{
  background-image: url('./images/guelph.png');
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  padding: 2% 20% 20% 20%;

  @media #{$medium-and-down} {
    background-position: top right;
    background-size: 700px auto;
  }

  @media #{$small-and-down} {
    background-position: top right;
    background-size: 700px auto;
    height: 360px;
  }

  .milieuCityTag {
    background: #a3c1b1;
    background: -moz-linear-gradient(45deg,  #a3c1b1 0%, #5791b4 100%);
    background: -webkit-linear-gradient(45deg,  #a3c1b1 0%,#5791b4 100%);
    background: linear-gradient(45deg,  #a3c1b1 0%,#5791b4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3c1b1', endColorstr='#5791b4',GradientType=1 );
    padding: 6px 10px;
    margin-bottom: 36px;
    font-weight: 400;
    font-size: 16px;
    text-shadow: none;
    color: $white;
    display: inline-block;

    @media #{$small-and-down} {
      margin-right: 20px;
      padding: 6px 10px;
      font-size: 16px;
    }

    &:hover {
      box-shadow: 2px 2px 5px 0 $secondary-color;
    }

    &:focus {
      background-color: $accessibility;
    }
  }

  .cityLink {
    height: 70px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    padding-top: 20%;
    margin-bottom: 0px;
    padding: 0;
    color:$dark-secondary-color;

    @media #{$small-and-down} {
      font-size: 36px;
    }

    &:hover {
      text-decoration: none;
      border-bottom: 3px solid;
    }

    &:focus {
      background-color: $accessibility;
    }
  }

  > div {
    height: 120px;
    min-height: inherit;
    width: 50%;

    .partnerBlock {

      width: 80%;
      padding-top: 5%;
      padding-bottom: 5%;
      float: left;


      @media #{$medium-and-down} {
            padding-top: 0;
            font-size: 16px;
            display: none;
            visibility: hidden;
      }

      @media only screen and (min-width: #{$small-screen-up}) and (max-width: #{$large-screen})  {
        display: none;
      }

      .partnerLink {
        font-weight: 400;
        font-size: 16px;
        text-shadow: none;
        color:inherit;
        text-decoration: none;
        display: inline-block;

        &:hover {
          opacity: 1;
          font-weight: 700;
          border-bottom: 2px solid;
        }

        &:focus {
          background-color: $accessibility;
        }
      }
    }

    @media #{$medium-and-down} {
      background-color: $white;
      margin-top: 0;
      margin-bottom: 5%;
      padding: 5% 5% 10% 5%;
      width: 80%;
      position: relative;
      border-radius: 2px;
    }

    @media only screen and (min-width: #{$small-screen-up}) and (max-width: #{$large-screen})  {
      background-color: $white;
      margin-top: 0;
      margin-bottom: 5%;
      padding: 5% 5% 10% 5%;
      width: 80%;
      position: relative;
      border-radius: 2px;
      background-size: 700px auto;
    }

    @media #{$small-and-down} {
      padding: 5% 5% 30% 5%;
      height: 180px;
    }

    > h1 {
      height: 70px;
      font-weight: 700;
      margin-bottom: 0px;
      padding: 0;
      color:$dark-secondary-color;

      @media #{$small-and-down} {
        height: 50px;
      }
    }
    > h3 {
      padding-top: 0px;
    }

  }
  @media #{$medium-and-down} {
    padding: 40px;
  }

  @media #{$small-and-down} {
    padding: 20px;
  }

  a {
    color: $white;
    font-size: 16px;

    @media #{$small-and-down} {
      font-size: 16px;
    }
  }

}

.featuredContainer {
  background-color: $white;
  padding: 10px;

  @media #{$small-and-down} {
    padding: 10px 0;
  }

  .title {
    padding: 25px 0;
    font-size: 36px;
    font-weight: 400;
    color: $dark-secondary-color;
    text-align: center;
    margin: 0;

    @media #{$small-and-down} {
      font-size: 24px;
    }
  }

  .featured {
    padding: 10px 0;
    box-sizing: border-box;
    margin: 0 auto;
    width: 1170px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;

    > a {
      margin: 10px;
      @media #{$small-and-down} {
        margin: 0;
        width: 100%;
        word-break: break-word;
      }
    }

    @media #{$medium-and-down} {
      flex-direction: column;
      align-items: center;
    }
  }
}

.articleContainer {
  background-color: #3a7496;
  padding: 2vh 20px 10vh;

  @media #{$small-and-down} {
    padding: 5vh 0px 5vh;
  }

  @media #{$medium-only} {
    padding: 2vh 20px 15vh;
  }

  .articleTitle {
    padding: 25px 0;
    font-size: 36px;
    font-weight: 400;
    color: $white;
    text-align: center;
    margin: 0;

    @media #{$small-and-down} {
      font-size: 24px;
      padding-top: 10px;
    }

    @media #{$medium-only} {
      padding: 2vh 20px 15vh;
    }
  }

  .article {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 0 20px;
    box-sizing: border-box;
    position: relative;

    &:hover img, &:focus img {
      filter: blur(5px) brightness(55%);
    }

    img {
      width: 300px;
      height: 300px;
      position: absolute;
      top: 0;
      left: 0;
      transition: 350ms;
      filter: blur(1px) brightness(55%);

      @media #{$small-and-down} {
        width: 220px;
        height: 220px;
      }
    }

    @media #{$small-and-down} {
      width: 220px;
      height: 220px;
    }

    .type {
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 12px;
      color: $light-primary-color;
      z-index: 1;
    }

    .title {
      padding: 20px 0;
      margin: 0;
      z-index: 1;
      @media #{$small-and-down} {
        font-size: 24px;
      }
    }

    .summary {
      font-size: 18px;
      font-weight: 300;
      z-index: 1;
    }

  }
}
