.landingContainer {
  min-height: 40vh;
  width: 100vw;
  padding: 2% 30% 5% 30%;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 2px 6px 0 $gray;
  color: $black;

  > div {
    height: 130px;

    > h1 {
      height: 70px;
      font-weight: 700;
      margin-bottom: 0px;
      padding: 0;

      @media #{$small-and-down} {
        height: 50px;
      }
    }
    > h3 {
      padding-top: 0px;
    }

  }

  @media #{$medium-and-down} {
    padding: 40px;
  }

  @media #{$small-and-down} {
    padding: 20px;
  }

  a {
    color: $white;
    font-size: 16px;

    @media #{$small-and-down} {
      font-size: 16px;
    }
  }

  .signUpContainer {
    letter-spacing: 1px;
    font-size: 16px;

    @media #{$small-and-down} {
      font-size: 15px;
    }
  }

  .signUpButton {
    background-color: $primary-color;
    border-radius: 2px;
    padding: 12px 20px;
    font-weight: 400;
    font-size: 16px;
    margin-top: 30px;
    margin-right: 40px;
    text-shadow: none;
    color: $white;
    display: inline-block;

    @media #{$small-and-down} {
      margin-right: 20px;
      padding: 12px 20px;
      font-size: 16px;
    }

    &:hover {
      opacity: 1;
      background-color: $dark-secondary-color;
    }

    &:focus {
      background-color: $accessibility;
    }
  }

  .callToAction {
    padding-left:  50px;
    display: flex;
    flex-direction: column;
    margin-left: 300px;

    h3 {
      padding-top: 100px;
    }

    a {
      margin-top: 42px;
      display: inline-block;
      font-size: 16px;
    }
  }

}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  background-color: $dark-secondary-color;

  .title {
    color: $white;
    font-size: 36px;
    text-align: center;
    position: relative;
    font-weight: 700;
    margin: 0;

    @media #{$small-and-down} {
      font-size: 36px;
    }
  }

  .search {
    max-width: 280px;
    width: calc(100% - 20px);
    margin: 0 auto;
    padding-top: 40px;
    position: relative;
    z-index: 2;

    i {
      color: $primary-color;
      margin-left: -100px;
    }

    input {
      border-radius: 2px;
      background-color: $white;
      margin-left: -100px;

      @media #{$small-and-down} {
        padding-right: 115px;
      }

      &:focus {
        box-shadow: 2px 2px 5px 0 $secondary-color;
      }
    }
  }
}

.featuredContainer {
  background-color: $white;
  padding: 10px;

  @media #{$small-and-down} {
    padding: 10px 0;
  }

  .title {
    padding: 25px 0;
    font-size: 36px;
    font-weight: 700;
    color: $dark-secondary-color;
    text-align: center;
    margin: 0;

    @media #{$small-and-down} {
      font-size: 20px;
    }
  }

  .featured {
    padding: 10px 0;
    box-sizing: border-box;
    margin: 0 auto;
    width: 1170px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;

    > a {
      margin: 10px;
      @media #{$small-and-down} {
        margin: 0;
        width: 100%;
        word-break: break-word;
      }
      &:focus{
        background-color: $accessibility;
      }
    }

    @media #{$medium-and-down} {
      flex-direction: column;
      align-items: center;
    }
  }
}

.articleContainer {
  background-color: #3a7496;
  padding: 20vh 20px;

  @media #{$small-and-down} {
    padding: 20vh 10px;
  }

  .article {
    width: 310px;
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 0 10px;
    box-sizing: border-box;
    position: relative;

    @media #{$small-and-down} {
      width: 220px;
    }

    .type {
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 12px;
      color: #D5FFFE;
    }

    .title {
      padding: 20px 0;
      margin: 0;
      @media #{$small-and-down} {
        font-size: 24px;
      }
    }

    .summary {
      font-size: 18px;
      font-weight: 300;
    }

    &::after {
      transition: 300ms;
      height: 225px;
      background-color: $light-primary-color;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 310px;
      opacity: 0.3;
      border-radius: 2px;
      transform: rotateX(90deg) rotateY(90deg) rotateY(0deg);

      @media #{$small-and-down} {
        width: 220px;
      }
    }

    &:hover::after {
      transform: rotateX(0deg) rotateY(60deg) rotateZ(90deg);
    }
  }
}
