.container {
  border-left: 3px solid #A8C0B2;
  box-sizing: border-box;
  font-family: 'Avenir Next','Lato',sans-serif;
  background-color: #ffffff;
  width: 100%;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  @media #{$medium-and-down} {
    width: 100%;
    top: 50px;
    position: fixed;
    z-index: $dev-site-preview-mobile-z;
  }

  .menu {
    background-color: #E7EEE9;
    height: 50px;
    width: 65%;
    position: fixed;
    z-index: $dev-site-preview-menu-z;

    @media #{$medium-and-down} {
      width: 100%;
    }
  }

  .tabs {
    padding: 20px 0;
    &:focus {
      border: 2px solid $accessibility;}
  }

  .expand {
    background: url('./icons/expand.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin: 10px;
    display: block;
    float: right;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 3px;

    &:focus{
      border: 2px solid $accessibility;
    }
  }

  .close {
    background: url('./icons/close.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin: 10px;
    display: block;
    float: right;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 3px;

    &:focus{
      border: 2px solid $accessibility;
    }
  }

  .icons{
    height: 34px;
    width: 34px;
    padding-top: 5px;
    margin-bottom: 25px;
    margin-left: 5px;
  }

  .wrapper {
    padding: 2em 2em;
    margin-top: 50px;
    margin-left: 4%;
    margin-right: 4%;
    background-color: #fff;

    @media #{$small-and-down} {
      padding: 60px 20px 20px;
      margin: 0;
    }
  }

  h1 {
    padding: 0 0.75rem;
    font-weight: bold;
  }

  h3 {
    margin: 0.25rem 0;
    font-weight: bold;
  }

  h1.devTitle {
    color: #5790b4;
    padding: 0 0.75rem;
  }

  h3.description {
    color: #5790b4;
  }

  h3.timelinehead {
    color: #5790b4;
    padding: 0.8em 0;
  }

  p.description {
    font-weight: bold;
    margin-top: 1.75rem;
  }

  .title {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 10px;
    text-align: center;
    color: #333;

    @media #{$small-and-down} {
      font-size: 24px;
    }
  }

  .subtitle {
    font-size: 18px;
    text-align: center;
    color: #aaa;
  }
  .button {
    background-color:#fff;
    -webkit-border-top-left-radius:2px;
    -moz-border-radius-topleft:2px;
    border-top-left-radius:2px;
    -webkit-border-top-right-radius:2px;
    -moz-border-radius-topright:2px;
    border-top-right-radius:2px;
    -webkit-border-bottom-right-radius:2px;
    -moz-border-radius-bottomright:2px;
    border-bottom-right-radius:2px;
    -webkit-border-bottom-left-radius:2px;
    -moz-border-radius-bottomleft:2px;
    border-bottom-left-radius:2px;
    text-indent:0;
    padding: 0 0.75rem;
    border:1px solid #5790b4;
    display:inline-block;
    color:#5790b4;
    font-size:1rem;
    font-style:normal;
    height:35px;
    line-height:35px;
    text-decoration:none;
    text-align:center;
    margin: 1.75rem 0;
  }
  .button:hover {
    -moz-box-shadow: 1px 1px 2px 0px #3a7496;
    -webkit-box-shadow: 1px 1px 2px 0px #3a7496;
    box-shadow: 1px 1px 2px 0px #3a7496;
    color: #5d9bc0;
  }
  .button:active {
    -moz-box-shadow: 1px 1px 2px 0px #3a7496;
    -webkit-box-shadow: 1px 1px 2px 0px #3a7496;
    box-shadow: 1px 1px 2px 0px #3a7496;
    position:relative;
    top:1px;
  }

  .image {
    width: 100%;
    height:100%;
    max-height: 60vh;
    margin-bottom: 5%;
    border-radius: 3px;
    object-fit: cover;
    position: relative;
    float: right;
    text-align: right;
  }

  .interact {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }

  .sharecontainer {
    width: 80px;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: 0.6em;
    color: #477393;
  }

  .likecontainer {
    display: flex;
    width: 80px;
    justify-content: space-around;
    align-items: center;
  }

  .message {
    width: 40px;
    text-align: center;
  }

  .share {
    display: flex;
  }

  .commentimage {
    height: 38px;
    border: 0;
  }

  .like {
    background: url('./icons/empty-heart.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    display: block;
    cursor: pointer;
  }

  .liked {
    background: url('./icons/full-heart.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    display: block;
    cursor: pointer;
  }

  .featuredContainer {
    align-items: center;
    cursor: pointer;
    font-size: 26px;

    .featured {
      color: $dark-primary-color;
    }

    .unfeatured {
      color: $gray;
    }
  }

  .delimiter {
    position: relative;
    height: 50px;

    .line {
      height: 1px;
      width: 100%;
      background-color: #ddd;
      position: absolute;
      top: 24.5px;
    }

    .circle {
      height: 35px;
      width: 35px;
      position: absolute;
      left: calc(50% - 17px);
      background-color: #fff;
      top: 7.5px;
      box-sizing: border-box;
      border-radius: 35px;
      border: 1px solid #ddd;
    }

    .marker{
      background: url('./icons/marker.svg') center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 20px;
      width: 20px;
      position: absolute;
      left: calc(50% - 10px);
      top: 15px;
    }
  }

  .row{
    width: 100%;
    padding: 40px 0;

    &:after{
      clear: both;
      display: table;
      content: "";
    }

    .col{
      float: left;
      width: 33%;
      padding: 0 0.75rem;

      .title{
        font-size: 18px;
        font-weight: 700;
        color: #444;
        padding-bottom: 5px;

        @media #{$small-and-down} {
          font-size: 14px;
        }
      }

      .subtitle{
        font-size: 14px;
        color: #999;
      }
    }
  }

  .descriptiontitle{
    font-weight: 700;
    font-size: 16px;
    color: #444;
  }

  .description {
    padding: 10px 0;
    margin: 0;
    color: #777;
  }

  .filecontainer{
    display: flex;
    align-items: center;
    color: #777;
    padding: 20px 0;
    cursor: pointer;

    &:hover{
      text-decoration: underline;
    }
  }

  .folder{
    background: url('./icons/folder.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 20px;
    margin-right: 20px;
  }

  .filelink {
    display: block;
    padding-top: 5px;
    color: #6d9493;

    &:hover{
      text-decoration: underline;
    }
  }

  .emailofficials {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    .email{
      background-color: #b6cef0;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 10px;
      border-radius: 2px;
      width: 45%;

      &:focus{
        background-color: $accessibility;
      }
    }

    .mail{
      background: url('./icons/mail.svg') center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 30px;
      width: 30px;
      margin-right: 20px;
      display: inline-block;
      @media #{$small-and-down} {
        height: 20px;
        width: 20px;
        margin-right: 10px;
      }
    }
  }

  .emailmodal {
    padding: 35px 35px 0;
    color: #555;

    @media #{$small-and-down} {
      padding: 20px 20px 0;
    }

    form{
      padding: 20px 0;
    }

    .contact {
      font-size: 24px;
      font-weight: 700;
    }

    .address {
      font-size: 18px;
    }
  }
}

.verticalPreviewContainer {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  margin: 0 10px;

  .status {
    position: absolute;
    top: 0;
    right: 20px;
    padding: 7.5px 10px;
    text-align: center;
    background-color: #92c7c6;
    color: #fff;
    width: 150px;
    font-size: 14px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-weight: 300;
  }

  .content {
    box-sizing: border-box;
    padding: 20px;
    padding-top: 10px;
    height: 200px;
    overflow: hidden;

    .address {
      font-weight: 700;
      font-size: 18px;
      padding-top: 10px;
      padding-bottom: 15px;
      margin: 0;
    }

    .description {
      height: 118px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;

      p, blockquote {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.horizontalPreviewContainer {
  width: 600px;
  height: 175px;
  display: flex;
  border: 1px solid $light-gray;
  overflow: hidden;
  position: relative;
  border-left: none;
  border-right: none;
  margin-bottom: 10px;

  p.description {
    font-weight: bold;
    margin-top: 1.75rem;
  }

  @media #{$small-and-down} {
    width: 100%;
  }

  .status {
    position: absolute;
    top: 0;
    left: 20px;
    padding: 7.5px 10px;
    text-align: center;
    background-color: #92c7c6;
    color: #fff;
    width: 150px;
    font-size: 14px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-weight: 300;

    @media #{$small-and-down} {
      left: 15px;
      padding: 5px;
      font-size: 12px;
      width: 120px;
    }
  }

  .image {
    height: 175px;
    width: 175px;
    min-width: 175px;
    object-fit: cover;

    @media #{$small-and-down} {
      width: 150px;
      min-width: 150px;
    }
  }

  .content {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: calc(100% - 10px);
    overflow: hidden;

    .address {
      font-weight: 700;
      font-size: 18px;
      padding-bottom: 15px;
      margin: 0;

      @media #{$small-and-down} {
        font-size: 13px;
      }
    }

    .description {
      height: 114px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;

      p, blockquote, figure {
        margin: 0;
        padding: 0;
      }

      @media #{$small-and-down} {
        font-size: 13px;
      }
    }
  }
}
