.container {
  background-color: $white;

  > div {
    display: flex;

    @media #{$small-and-down} {
      flex-direction: column;
      align-items: center;
    }
  }

  .content {
    width: 100%;

    > h2 {
      @media #{$small-and-down} {
        text-align: center;
      }
    }

    .meta {
      background-color: $light-gray;
      display: flex;
      margin-bottom: 20px;
      padding: 20px;
      border-radius: 3px;

      @media #{$small-and-down} {
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
      }

      .label {
        color: #555;
        width: 200px;
        min-width: 200px;
        font-weight: 700;
        margin-right: 25px;

        @media #{$small-and-down} {
          margin-right: 0;
          margin-bottom: 30px;
          text-align: center;
        }
      }

      .data {
        width: 100%;

        .entry {
          padding-bottom: 20px;

          @media #{$small-and-down} {
            padding: 20px 0.75rem 0;
          }

          .date {
            font-size: 12px;
            padding-bottom: 5px;
            font-style: italic;
          }
        }
      }
    }
  }
}
