<div class="small-container container">
   <h1 class="center">Building Better Cities with People</h1>
   <h1 class="center">Building Better Cities with People</h1>
   <h1 class="center">Building Better Cities with People</h1>
</div>