.container {
  background-color: $white;

  > div {
    display: flex;

    @media #{$small-and-down} {
      flex-direction: column;
      align-items: center;
    }
  }

  .content {
    width: 100%;

    .devSite {
      margin: 20px 0;
      padding: 0;
      display: flex;
      @media #{$small-and-down} {
        justify-content: center;
      }
    }

    > h2 {
      @media #{$small-and-down} {
        text-align: center;
      }
    }

    .meta {
      background-color: $light-gray;
      display: flex;
      margin-bottom: 20px;
      padding: 20px;
      border-radius: 3px;

      @media #{$small-and-down} {
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
      }

      .label {
        color: #555;
        width: 175px;
        min-width: 175px;
        font-weight: 700;
        margin-right: 25px;

        @media #{$small-and-down} {
          margin-right: 0;
          margin-bottom: 30px;
          text-align: center;
        }
      }

      .avatar {
        position: relative;

        &:hover {
          .icon {
            opacity: 1;
          }
        }

        .changePhoto {
          text-align: center;
          font-weight: 400;
          letter-spacing: 1px;
          padding: 10px;
          font-size: 0.8rem;
          border-radius: 2px;
          margin-top: 3px;
          text-transform: uppercase;
          cursor: pointer;
          color: $white;
          background-color: $secondary-color;
          opacity: 1;
          transition: 200ms;
          width: 100%;

          &:hover {
            opacity: 0.8;
          }
        }

        .loader {
          position: absolute;
          top: 0;
          left: 0;
          height: 175px;
          width: 175px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(0,0,0,0.5);
          color: $white;

          i {
            width: 48px;
            height: 48px;
          }
        }

        .icon {
          position: absolute;
          top: 5px;
          right: 5px;
          background-color: $error;
          height: 30px;
          width: 30px;
          border-radius: 1px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $white;
          cursor: pointer;
          transition: 200ms;

          &:hover {
            opacity: 0.9;
          }
        }

        img {
          width: 175px;
          height: 175px;
          object-fit: cover;
          border-radius: 3px;
          display: block;
          box-sizing: border-box;
          border: 1px solid #ddd;
        }
      }

      .data {
        width: 100%;

        .provider {
          position: relative;

          i:first-child {
            font-size: 60px;
            opacity: 0.3;
            background-color: #aaa;
            border-radius: 30px;
          }

          i:last-child{
            position: absolute;
            bottom: -4px;
            right: 4px;
            font-size: 20px;
          }
        }

        .entry {
          padding-bottom: 20px;

          @media #{$small-and-down} {
            padding: 20px 0.75rem 0;
          }

          .date {
            font-size: 12px;
            padding-bottom: 5px;
            font-style: italic;
          }
        }
      }
    }
  }
}
