.container {
  padding: 20px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;

  .col {
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
  }
}

.sort{
  width: 50px;
  height: 40px;
  line-height: 40px;
}

.row{
  width: 100%;
}

.activeitem {
  background-color: #92c7c6;
  color: #fff;
  text-align: center;
  display: block;
  border-radius: 2px;
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item {
  background-color: #eee;
  text-align: center;
  display: block;
  border-radius: 2px;
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
