.parallax_container {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.parallax__group {
  position: relative;
  height: 100vh;
  transform: translate3d(700px, 0, -800px) rotateY(30deg);
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}

.parallax-image {
  position: absolute;
  width: 100%;
  height: 900px;
}

.semi-layer{
  position: absolute;
  background-color: rgba(0, 45, 90, 0.4);
  width: 100%;
  height: 1000px;
}

.about_container{
  position: relative;
  background-color: #FFF;
  height: 100%;
  padding: 10px;
  margin: 1000px 0 0 0;
  display: block;
  width: 100%;
}

.about_subtitle{
  margin: 500px 300px 0 300px;
  font-family: Roboto, Arial, Sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 1.2em;
  color: #16161d;
  text-transform: uppercase;
}

.about_slogan{
  width: 300px;
  margin:  100px auto 0 20px;
  line-height: 1em;
  color: #FFF;
  font-size: 40px;
  font-weight: bold;
  font-family: Roboto, Arial, Sans-serif;
  text-align: left;
}

.about_section{
  width: 80%;
  margin: 10px auto;
}

.crew_list{
  width: 45%;
  float: right;
}

.name{
  font-family: Roboto, Arial, Sans-serif;
  font-size: 20px;
  color: #16161d;
  margin-bottom: 4px;
  font-weight: bold;
}

.position{
  font-family: Roboto, Arial, Sans-serif;
  font-size: 16px;
  color: #16161d;
  margin-bottom: 18px;
  font-weight: bold;
}

.app_demo{
  width: 45%;
  float: left;
  margin-top: 25px;
}

.awards_section {
  text-align: center;
  ul {
    font-size: 1.2em;
  }
  a {
    color: #4baaa7;
    &:hover {
      color: #92C7C6;
    }
  }
}

.awards_images {
  text-align: center;
  img {
    height: 300px;
  }
}


@media #{$medium-and-down} {
  .about_subtitle{
    margin: 300px 20px;
    font-family: Roboto, Arial, Sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2em;
    color: #16161d;
    text-transform: uppercase;
  }
}

@media #{$small-and-down} {
  .about_subtitle{
    margin: 300px 20px;
    font-family: Roboto, Arial, Sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2em;
    color: #16161d;
    text-transform: uppercase;
  }

  .app_demo {
    display: none;
  }

  .crew_list {
    float: none;
    width: 100%;
  }
}