@import "font-awesome";
@import "materialize/components/color";
$primary-color: #92c7c6 !default;
$secondary-color: #5d9bc0 !default;
$dark-secondary-color: darken($secondary-color, 15%);
@import "materialize";
@import "static_pages";
@import "session";
@import "dev_sites_index";
@import "dev_sites_show";
@import "events";
@import "maps/home";
@import "maps/armstrong";
@import "photoswipe/photoswipe";
@import "photoswipe/index";
@import "photoswipe/default-skin/default-skin";
@import "about";
@import "comments";
@import "users";
@import "home";
@import "autocomplete";
@import "layout";

@import "base/forms";
@import "base/global";
@import "base/links";
@import "base/typography";
