/*
 * Globals
 */

/*
 Fonts
*/
@font-face {
    font-family: 'RobotoBlack';
    src: asset-url('Roboto-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'RobotoBlackItalic';
    src: asset-url('Roboto-BlackItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'RobotoBold';
    src: asset-url('Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'RobotoBoldItalic';
    src: asset-url('Roboto-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'RobotoThin';
    src: asset-url('Roboto-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'RobotoThin';
    src: asset-url('Roboto-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'RobotoRegular';
    src: asset-url('Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'RobotoLight';
    src: asset-url('Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'RobotoMedium';
    src: asset-url('Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'RobotoCondensedRegular';
    src: asset-url('RobotoCondensed-Regular.ttf') format('truetype');
}
