section#dev-sites-index{
  min-height: calc(100vh  - 64px);
  background-color: #f4f4f4;

  .header{

    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    color: #555;
    font-size: 16px;
    border-bottom: 2px solid #fff;

    .count{
      font-size: 14px;
      color: #777;
    }

    a{
      margin-top: 6px;
      font-size: 14px;
    }
  }

  .dev-site-profile{
    position: fixed;
    height: 100vh;
    width: 300px;
    padding: 30px;
    top: 114px;
    left: 0;
    color: #555;
    font-size: 13px;
    background-color: #f4f4f4;

    .title{
      font-size: 20px;
    }

    .label{
      color: #999;
      padding-right: 20px;
      &.title{
        font-size: 14px;
        text-transform: uppercase;
        padding: 15px 0;
        letter-spacing: 1px;
      }
    }

    .display-image{
      width: 100%;
      height: 200px;
      border-radius: 3px;
      object-fit: cover;
    }

    a.btn{
      width: 100%;
      z-index: 1;
    }
  }

  .dev-sites{
    position: absolute;
    background-color: #fff;
    top: 114px;
    left: 300px;
    min-height: calc(100vh - 114px);
    padding: 20px 20px 0;

    .card{
      background-color: rgba(255,255,255,1);
      box-shadow: none;
    }

    .card-content{
      padding: 0 20px 10px;

      .card-title{
        padding: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
      }

      .type{
        font-size: 12px;
        color: #999;
      }
    }

    .card-image {

      padding: 15px;

      img{
        height: 175px;
        width: 100%;
        border-radius: 3px;
        object-fit: cover;
      }
    }

  }
}