#dev-site-show{
  padding-top: 64px;
  position: relative;
  color: #555;
  background-color: #f4f4f4;

  .back-to-map{
    color: $secondary-color;
  }

  .modal-trigger{
    @media #{$small-and-down} {
      font-size: 0.9rem;
    }
  }

  .container{
    background-color: #fff;
    padding: 40px;

    @media #{$medium-and-down} {
      width: 85%;
    }

    @media #{$small-and-down} {
      padding: 20px;
      width: 100%;
    }
  }

  .title{
    font-size: 3rem;
    font-weight: 300;
    padding-bottom: 30px;

    @media #{$small-and-down} {
      font-size: 1.5rem;
    }
  }

  h3{
    margin-top: 0;
  }

  .upvote {
    &:hover {
      color: #8c8c8c;
    }
  }

  .downvote {
    padding-left: 20px;
    &:hover {
      color: #8c8c8c;
    }
  }

  .btn-floating{
    position: absolute;
    top: 50px;
    right: 10px;
  }

  .display-image{
    height: 400px;
    width: 100%;
    max-height: 50vh;
    border-radius: 3px;
    padding-bottom: 30px;
    cursor: pointer;
    object-fit: cover;
  }

  .like-button:hover{
    transition: 200ms;
    color: red;
  }

  .info{
    font-size: 14px;

    table a{
      color: $secondary-color;
    }
  }

  .label{
    color: #999;
  }

  .comment{
    padding: 10px;
    background-color: #f4f4f4;
    margin-bottom: 5px;

    .user{
      font-weight: bold;
      font-size: 18px;
    }

    .time{
      font-size: 0.8rem;
      color: #999;
    }

    .role{
      color: #999;
      font-weight: 300;
    }

    .body{
      padding-top: 10px;
      font-size: 14px;
    }

    .voting {
      float: right;
    }

  }

  .files{
    li{
      font-size: 14px;
      font-weight: 300px;

      i{
        padding-right: 15px;
      }

      a:hover{
        text-decoration: underline;
      }
    }
  }

  #new_comment textarea{
    border: 2px solid #ddd;
    border-radius: 3px;
    padding: 10px;
    height: auto;
    outline: none;
  }

}
