#sign-in-modal{
  max-width: 350px;
}

.login-form {
  margin: 0 auto;

  input:-webkit-autofill {
    background-color: #fafafa !important;
    -webkit-box-shadow:0 0 0 50px #fafafa inset;
    -webkit-text-fill-color: #000;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }

  .btn{
    width: 100%;
  }
}

.nav{
  position: absolute;
  z-index: 1000;
  background: linear-gradient(90deg, #5d9bc0 0%, #92c7c6 85%);

  ul li a:hover{
    background-color: transparent;
  }

  .building{
    color: white;
    display: inline-block;
  }

  .logo{
    float: left;
    margin-left: 20px;
  }

  .nav-logo img{
    float: left;
    display: inline-block;
    height: 62px;
    padding: 15px 5px;
  }

  @media #{$medium-and-down} {
    background-color: transparent;
    background: none;
    box-shadow: none;
  }

  .side-nav{
    background-color: $primary-color;
    a {
      color: white;
      text-align: center;

      img{
        float: none;
      }
    }


  }
}
