#sign-in-modal{
  max-width: 350px;
}

.login-form {
  margin: 0 auto;

  input:-webkit-autofill {
    background-color: #fafafa !important;
    -webkit-box-shadow:0 0 0 50px #fafafa inset;
    -webkit-text-fill-color: #000;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }

  .btn{
    width: 100%;
  }
}