#sign-in-modal{
  max-width: 350px;
  background-color: $pale-gray;

  form {
    padding-bottom: 20px;

    .btn {
      width: 100%;
      &:focus{
        background-color: rgba(230, 126, 34,0.599);
      }
    }
    input{
      &:focus{
        background-color: rgba(230, 126, 34,0.599);
      }
    }
  }

  .or {
    font-weight: 700;
    padding: 20px 0;
    text-align: center;
  }

  .omni {
    padding: 10px;
    display: block;
    cursor: pointer;
    color: $white;
    margin-bottom: 10px;
    border-radius: 3px;
    &:focus{
      background-color: rgba(230, 126, 34,0.599);
    }

    @media #{$small-and-down} {
      font-size: 14px;
    }

    i {
      padding-right: 20px
    }

    &.fb {
      background-color: #3B5998;
      &:focus{
        background-color: rgba(230, 126, 34,0.599);
      }
    }

    &.google {
      background-color: #DD4B39;
      &:focus{
        background-color: rgba(230, 126, 34,0.599);
      }
    }
  }
}
