#citizen-city{
  margin: 0;

  .view-map{
    font-size: 2rem;
    position: absolute;
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    z-index: 15;
    top: 60%;
    color: #fff;
    border-radius: 4px;
    left: 50%;
    margin: -100px 0 0 -150px;
    background: $primary-color;
  }

  .mobile-view-map{
    font-size: 1.5rem;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: block;
    z-index: 15;
    color: #fff;
    border-radius: 4px;
    margin: 0 auto;
    background: $primary-color;
  }

  .legend{
    float: left;
    z-index: 2;
    padding: 25px 5px 25px;
    width: 280px;
    background-color: rgba(255, 255, 255, 0.75);

    @media #{$small-and-down} {
      width: calc(100%);
      margin-bottom: 20px;
    }

    .title{
      font-size: 1.5rem;
      text-align: center;
      padding-bottom: 20px;

      small{
        font-size: 0.9rem;
        color: #777;
      }
    }

    .item{
      padding: 10px;
      min-height: 50px;

      .icon{
        height: 50px;
        width: 50px;
      }

      .text{
        display: inline-block;
        width: calc(100% - 65px);
        padding-left: 10px;
        vertical-align: top;
        color: #333;
      }
    }
  }

  .row-container{
    position: absolute;
    top: 50px;
    left: 50px;
    width: calc(100% - 100px);
    z-index: 2;
    padding-bottom: 20px;

    @media #{$small-and-down} {
      left: 20px;
      top: 20px;
      width: calc(100% - 40px);
    }

    .sponsors{
      max-width: 700px;
      margin: 0 auto;
      text-align: center;
      font-size: 1.5rem;
      color: $secondary-color;

      .col{
        padding: 15px 0.75rem;
      }

      @media #{$small-and-down} {
        float: left;
      }

      img{
        height: 40px;
      }
    }

  }

  .citizencity{
    color: #3c3c3c;
    width: calc(100% - 360px);
    float: left;
    z-index: 2;

    @media #{$small-and-down} {
      width: calc(100%);
    }

    .title{
      color: #f7931e;
      text-transform: uppercase;
      letter-spacing: -1px;
      font-size: 4rem;
      line-height: 4rem;
      font-weight: 900;
    }

    .sub-title{
      text-transform: uppercase;
      font-size: 1.75rem;
      line-height: 1.75rem;
      font-weight: 900;
      color: $secondary-color;
    }

    .join-text{
      max-width: 750px;
      font-size: 1.2rem;
      font-weight: 500;
      padding: 10px 0 0;
    }

    .info-tags{
      max-width: 700px;
      margin: 0 auto;
      padding: 30px 0;

      .col{
        padding: 0;
        @media #{$medium-and-down} {
          padding: 10px 0;
        }
      }
      img{
        height: 70px;
        max-width: 100%;
        display: block;
      }
    }

  }

  .rsvp{
    display: block;
    text-align: center;
    padding-bottom: 30px;

    img{
      display: block;
      margin: 0 auto;
      width: 80px;
      height: 80px;
      border-radius: 80px;
    }

    .save{
      padding-top: 15px;
      font-size: 1.25rem;
    }

    .title{
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #f7931e;
    }

    .where-and-when{
      font-size: 1.25rem;
    }
  }

  .survey{
    width: 290px;
    float: right;
    padding: 20px;
    z-index: 2;
    background-color: #fff;

    @media #{$small-and-down} {
      width: calc(100%);
    }

    .terms{
      font-size: 0.8rem;
      text-align: center;

      a{
        color: $secondary-color;
      }
    }

    .title{
      color: $secondary-color;
      font-size: 2rem;
      font-weight: 300;
    }

    .enter-map:hover{
      color: #fff;
    }

    .find{
      text-align: center;
    }

    .social-links{
      text-align: center;
      padding: 10px 0 20px;
      font-size: 0.8rem;
      color: $secondary-color;

      i{
        height: 30px;
        width: 30px;
        line-height: 30px;
        font-size: 1rem;
        color: #fff;
        margin-bottom: 5px;
        border-radius: 30px;
        background-color: $secondary-color;
      }
    }
  }

}
