$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

// Must match 'base/colorswatches'

$light-primary-color: #D5FFFE;
$primary-color: #92c7c6;
$dark-primary-color: #6D9493;

$secondary-color: #5d9bc0;
$dark-secondary-color: #3a7496;

$tertiary-color: #486a89;
$light-tertiary-color: #b0c4de;

$quaternary-color: #e2eae9;

$accessibility: #e77e23;

$light-gray: #eee;
$pale-gray: #fafafa;
$gray: #aaa;
$dark-gray: #555;

$success: #5f9ea0;
$light-error: #e9967a;
$error: #c7817d;

$black: #333;
$white: #fff;
