.devSite {
  margin: 20px 0;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  position: relative;

  @media #{$small-and-down} {
    justify-content: center;
  }

  .edit {
    top: 10px;
    z-index: 1;
    left: 175px;
    position: absolute;
    opacity: 0;
    transition: 200ms;
  }

  .delete {
    align-self: flex-end;
    margin-right: 8px;
  }

  &:hover {
    .edit {
      opacity: 1;
    }

    .delete {
      opacity: 1;
      text-decoration: underline;
    }
  }
}

.addSites {
  margin-bottom: 20px;
}
