.devSite {
  margin: 20px 0;
  padding: 0 !important;
  display: flex;
  position: relative;

  @media #{$small-and-down} {
    justify-content: center;
  }

  .edit {
    top: 10px;
    z-index: 1;
    left: 175px;
    position: absolute;
    opacity: 0;
    transition: 200ms;
  }

  .delete {
    top: 10px;
    z-index: 1;
    left: 210px;
    position: absolute;
    opacity: 0;
    background-color: $error !important;
    transition: 200ms;
  }

  &:hover {
    .edit {
      opacity: 1;
    }

    .delete {
      opacity: 1;
    }
  }
}
