.root {
  background-color: $white;
  min-height: calc(100vh - 50px);

  .container {
    padding-bottom: 0 !important;

    @media #{$medium-and-down} {
      padding: 20px 50px;
    }

    @media #{$small-and-down} {
      padding: 20px;
    }
  }

  .share {
    position: fixed;
    top: 100px;
    left: 40px;

    @media only screen and (min-width : #{$large-screen-up}) {
      left: calc((100vw / 2) - (1170px / 2) - 40px);
    }

    @media #{$medium-and-down} {
      left: 5px;
    }

    @media #{$small-and-down} {
      display: flex;
      left: auto;
      right: 5px;
      top: 60px;
      z-index: 10;
    }

  }

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 25px;
  }

  h2 {
    display: block;
  }

  .content {
    min-width: 450px;
    max-width: 450px;
    margin-right: 50px;

    @media #{$medium-and-down} {
      min-width: 100%;
      max-width: none;
      margin: 0;
    }
  }

  .media {
    height: 540px;

    @media #{$small-and-down} {
      height: 295px;
    }
  }

  .media, .sentiment {
    width: 100%;
    position: relative;
    overflow: hidden;

    @media #{$medium-and-down} {
      order: -1;
      margin-bottom: 50px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
    }
  }

  iframe {
    border: 0;
    height: 450px;
    width: 100%;
    border-radius: 5px;

    @media #{$small-and-down} {
      height: 200px;
    }
  }

  .timeline {
    width: 100%;
    max-width: 750px;
    margin: 50px auto 25px;
    display: block;

    @media #{$small-and-down} {
      max-width: 350px;
    }
  }
}

.carouselContainer {
  width: 100%;
}

.carouselItemsContainer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 166.66%;
  left: -33.33%;

  img:nth-child(3) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  img:nth-child(5) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.carouselDisplay {
  width: 100%;
  height: 350px;
  margin-bottom: 20px;
  background-color: $light-gray;

  @media #{$small-and-down} {
    height: 200px;
  }

  img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;

    @media #{$small-and-down} {
      height: 200px;
    }
  }
}

.attachment {
  display: block;
  margin-bottom: 15px;

  &:hover {
    .extension {
      background-color: $dark-secondary-color;
    }
  }

  .extension {
    display: inline-block;
    background-color: $secondary-color;
    color: $white;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    margin-right: 15px;
    text-transform: uppercase;
    transition: 200ms;
  }
}

.carouselNextItem, .carouselPreviousItem {
  position: absolute;
  top: 0;
  width: 100px;
  height: 150px;
  display: flex;
  align-items: center;
  font-size: 50px;
  padding: 0 10px;
  box-sizing: border-box;
  color: $white;
  opacity: 0;
  transition: 200ms;
  border-radius: 5px;

  @media #{$small-and-down} {
    height: 100px;
    font-size: 40px;
  }

  &:hover {
    opacity: 1;
  }
}

.partners {
  padding: 30px 20px;
  margin: 50px 0;
  border-top: 1px solid $light-gray;

  h2 {
    margin-top: 0;
  }

  h4 {
    margin: 0 auto;
    display: block;
    max-width: 450px;
  }

  .logo {
    height: 150px;
    width: 25%;
    margin: 0 4%;
    object-fit: contain;
  }

}

.carouselNextItem {
  right: 20%;
  justify-content: flex-end;
  background: linear-gradient(to left, $dark-gray, transparent);
}

.carouselPreviousItem {
  left: 20%;
  background: linear-gradient(to right, $dark-gray, transparent);
}

.carouselItem {
  height: 150px;
  width: 19%;
  object-fit: cover;

  @media #{$small-and-down} {
    height: 75px;
  }
}
