.container{
  width: 100vw;
  height: calc(100vh - 50px);
  position: relative;
}

.sidebar {
  width: 40%;
  height: calc(100vh - 50px);
  background-color: #fff;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  float: left;

  @media #{$medium-and-down} {
    width: 100%;
  }
}

.content {
  width: 60%;
  height: calc(100vh - 50px);
  position: relative;
  float: left;

  @media #{$medium-and-down} {
    height: auto;
    width: 100%;
    float: none;
  }
}
